/**
 * Settings mixins / functions
 *
 * Helpers that relate directly to the settings files
 */


/**
 * Responsive breakpoints
 */

    // Retrieve  breakpoint type
    @function get-breakpoint-value($point, $type, $index) {
      $values: map-get($breakpoints, $point);
      $convertValue: true;
      $items: ();
      @if $type == 'orientation' {
        $items: nth($values, 3);
        $convertValue: false;
      }
      @else if $type == 'height' {
        $items: nth($values, 2);
      }
      @else if $type == 'width' {
        $items: nth($values, 1);
      }
      @if length($items) >= $index {
        $value: nth($items, $index);
        @if $value {
          @if $convertValue {
            @return pxem(nth($items, $index));
          }
          @else {
            @return nth($items, $index);
          }
        }
      }
      @return false;
    }

    // Convert pixel breakpoint value to em
    @function pxem($target){
      @return ($target / 16)#{'em'};
    }

    // Get min-width breakpoint value
    @function minw($point) {
      $value: get-breakpoint-value($point, 'width', 1);
      @if $value {
        @return 'and (min-width: ' + $value + ')';
      }
      @return '';
    }

    // Get max-width breakpoint value
    @function maxw($point) {
      $value: get-breakpoint-value($point, 'width', 2);
      @if $value {
        @return 'and (max-width: ' + $value + ')';
      }
      @return '';
    }

    // Get min-height breakpoint value
    @function minh($point) {
      $value: get-breakpoint-value($point, 'height', 1);
      @if $value {
        @return 'and (min-height: ' + $value + ')';
      }
      @return '';
    }

    // Get max-height breakpoint value
    @function maxh($point) {
      $value: get-breakpoint-value($point, 'height', 2);
      @if $value {
        @return 'and (max-height: ' + $value + ')';
      }
      @return '';
    }

    // Get orientation breakpoint value
    @function orientation($point) {
      $value: get-breakpoint-value($point, 'orientation', 1);
      @if $value {
        @return 'and (orientation: ' + $value + ')';
      }
      @return '';
    }

    // Build the media query
    @function sizes($point) {
        @return minw($point) + maxw($point) + minh($point) + maxh($point) + orientation($point);
    }

    // Set breakpoint mixin
    @mixin breakpoint($point){
      @if $mq-support {
        @if $point != 'retina'{
            @media screen #{sizes($point)} {
              @content
            }
        }
        @else {
            @media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi){
                @content;
            }
        }
      }
      @else {
        @if index($static-breakpoints,$point){
          @content
        }
      }
    }

/**
 * Typography
 */

    @function fontsize($size){
        @return map-get($font-sizes,$size);
    }
    @function fontfamily($family){
        @return map-get($font-famillies,$family);
    }

/**
 * Colours
 */
    @function color($color){
        @return map-get($colors,$color);
    }
