//================
//A fluid grid mixin
//==================

@max-width:1000;
@overall-cols:4;
@px-gutter:10;
@gutter: @px-gutter / @max-width * 100;

#grid{

	.run(@desired-cols:@overall-cols, @row-cols:@overall-cols){

		@context-width: 100 - (@row-cols/@desired-cols - @gutter);

		width:@context-width / @row-cols * @desired-cols + 0%;
		margin-right:@gutter + 0%;
	}

	.dist(@desired-cols:@overall-cols, @row-cols:@overall-cols){

		@col:(100/@row-cols * @desired-cols) - (@gutter * 2);

		width:@col + 0%;
		margin-right:@gutter + 0%;
		margin-left:@gutter + 0%;

	}

	.nude(@desired-cols:@overall-cols, @row-cols:@overall-cols){

		@col:100/@row-cols * @desired-cols;

		width:@col + 0%;

	}
}

#site-wrapper{
	max-width:@max-width + 0px;
	#grid > .nude();
	margin:0 auto;
	min-height:400px;
	background:transparent url('/Empty-coop/images/_grid-helpers/gridhelper-1000px-4col-20pxgutter.png') repeat top left;
}
	#pc-pri{
		#grid > .dist(2);
		float:left;
		background:fade(red,50%);
	}
		.gallery{
			list-style:none;
			margin:0;
			padding:0;

			li{
				#grid > .dist(1,2);
				height:100px;
				background:fade(pink,50%);
				float:left;
			}
		}
	#pc-sec{
		#grid > .dist(2);
		float:left;
		background:fade(green,50%);
	}