/**
 * Global settings
 *
 * Use this file to set custom colours, and to set
 * the base text size / line height value
 * More settings can be added here, the sky is the limit!
 */

/**
 * Grid
 */
    /**
     * Grid config
     *
     * @raw width:     target container width (px);
     * @total-columns: number of grid columns;
     * @gutter:        column gutter (px);
     */
        @raw-width:1000;
        @total-columns:12;
        @raw-gutter:20;

    /**
     * Grid type
     */
        @import 'mixins/grid-fluid.less';
        //@import 'mixins/grid-fixed.less';

/**
 * Responsive design
 */

    /**
     * Breakpoints
     * Figure no need to prefix these!
     */
        @largescreen:~"(min-width:1199px)";
        @standard:~"(max-width:2000px)";
        @tablet:~"(max-width:1024px)";
        @mobile:~"(max-width:600px)";

    /**
     * Include helper labels?
     *
     * This is to help see breakpoints whilst developing the site.
     *
     */
        @import 'reusable-components/responsive-design-labels.less';


/**
 * Typography
 */

    /**
     * Set base text size
     */
        @fontsize-base:16;
        @lineheight-base:1.5em;

    /**
     * Set additional text sizes
     */
        @fontsize-small:0.75em;
        @fontsize-large:2em;

    /**
     * Set font famillies
     */

         /**
          * Define brand fonts
          */
          @fontfamily-capriola: 'Capriola Regular', sans-serif;

         /**
          * Define fonts by function
          */
          @fontfamily-base:sans-serif;
          @fontfamily-brand:@fontfamily-capriola;


/**
 * Colour swatches
 */

    /**
     * Define brand colours
     */
       @br-hatchdred:#EF4136;

    /**
     * Generic colours
     */
    	@white:#fff;
    	@black:#000;

    /**
     * Utility colours
     */
    	@col-base:#000;
    	@col-recessive:#ccc;
    	@col-highlight:#FFFB88;
    	@col-link:@br-hatchdred;
    	@col-link-hover:@br-hatchdred;

    /**
     * Define colours by function
     */

