/**
 * Global settings
 *
 * Use this file to set custom colours, and to set
 * the base text size / line height value
 * More settings can be added here, the sky is the limit!
 */

/**
 * Grid
 *
 */
    /**
     * Grid config
     *
     * @raw width:     target container width (px);
     * @total-columns: number of grid columns;
     * @gutter:        column gutter (px);
     */
        @raw-width:1200;
        @total-columns:12;
        @raw-gutter:20;

    /**
     * Grid type
     */
        @import 'mixins/grid-fluid.less';
        //@import 'mixins/grid-fixed.less';

/**
 * Responsive design
 *
 * All rwd breakpoints are handled with max-width. Feel free to change this
 * of course, or add more variables as needed. These variables to not cover
 * minor breakponts (see all breakpints within styles.less).
 */

    /**
    * Large screen layout
    */
        @rwd-largescreen-max: 5000px;

    /**
     * Standard layout
     */
        @rwd-standard-max: 2000px;

    /**
     * Tablet layout
     */
        @rwd-tablet-max: 1024px;

    /**
     * Mobile layout
     */
        @rwd-mobile-max: 600px;

    /**
     * Include helper labels?
     *
     * This is to help see breakpoints whilst developing the site.
     *
     */
        @import 'reusable-components/responsive-design-labels.less';


/**
 * Typography
 */

    /**
     * Set base text size
     */
        @fontsize-base:16;
        @lineheight-base:1.5em;

    /**
     * Set additional text sizes
     */
        @fontsize-small:0.75em;

    /**
     * Set font famillies
     */

         /**
          * Define brand fonts
          */
          @fontfamily-capriola: 'Capriola Regular', sans-serif;

         /**
          * Define fonts by function
          */
          @fontfamily-base:sans-serif;
          @fontfamily-brand:@fontfamily-capriola;


/**
 * Colour swatches
 */

    /**
     * Define brand colours
     */
       @br-hatchdred:#EF4136;

    /**
     * Generic colours
     */
    	@white:#fff;
    	@black:#000;

    /**
     * Utility colours
     */
    	@col-base:#000;
    	@col-recessive:#ccc;
    	@col-highlight:#FFFB88;
    	@col-link:@br-hatchdred;
    	@col-link-hover:@br-hatchdred;

    /**
     * Define colours by function
     */

