@import url(http://fonts.googleapis.com/css?family=Capriola);
/*!
 *	Styles for screen and print
 *
 *	@Author Hatchd
 *
 *  ...HHH...........................................HH ................DDD....
 *  ...HHH.......................TT .................HH.................DDD....
 *  ...HHH.......................TT..................HH.................DDD....
 *  ...HHHHHHHH..... AAAAAA......TTTTTT....CCCCCC....HHHHHHHN..... DDDDDDDD....
 *  ...HHHHHHHHH ...AAAAAAAAA....TTTTTT...CCCCCCCC...HHHHHHHHH... DDDDDDDDD....
 *  ...HHH... HH..........AAA....TTT..... CCC........HH....HHH....DD....DDD....
 *  ...HHH... HH.....AAAAAAAA....TTT......CC.........HH....HHH...DDD....DDD....
 *  ...HHH... HH....AAA...AAA....TTT......CC ........HH....HHH...DDD....DDD....
 *  ...HHH... HH....AAA...AAA....TTT..... CCC........HH....HHH....DD....DDD....
 *  ...HHH... HH....AAA..AAAA....TTT..... CCCC..CC...HH....HHH....DDD..DDDD....
 *  ...HHH... HH.....AAAAAAAA....TTTTTT....CCCCCCC...HH....HHH.... DDDDDDD.....
 *
 */
/**
 * Settings
 *
 * Define colours, text sizes etc... before any styles are pulled in
 * Also, establish grid type and settings
 *
 */
/**
 * Global settings
 *
 * Use this file to set custom colours, and to set
 * the base text size / line height value
 * More settings can be added here, the sky is the limit!
 */
/**
 * Grid
 */
/**
     * Grid config
     *
     * @raw width:     target container width (px);
     * @total-columns: number of grid columns;
     * @gutter:        column gutter (px);
     */
/**
     * Grid type
     */
/**
 * Chickenwire: Fluid version
 * A free-range grid mixin
 *
*/
/**
 * Calculated widths
 *
 * @rounded-width: @raw-width
 * @gutter: @raw-gutter converted to a percentage value;
 */
/**
 * Increase grid width for nested columns
 */
/**
 * Set grid mixin
 */
#grid {
  /**
     * To create a grid unit with a gutter on the right-hand side only.
     *
     * The last unit in a row will need the right margin set to "0"
     * Or should use the .run-last() mixin
     *
     */

  /**
     * For the last column in a row, remove the gutter
     */

  /**
     * To create a grid unit with half-width gutters at both sides.
     *
     * Useful for laying out thumbnail galleries and similar, where
     * is is more difficult to shave off the last gutter in a row.
     */

  /**
     * To create a nude grid unit with no gutters or additional properties
     */

  /**
     * Use a grid width to set horz. padding
     */

  /**
     * Use a grid width to set horz. margin
     */

}
/**
 * Responsive design
 */
/**
     * Breakpoints
     * Figure no need to prefix these!
     */
/**
     * Include helper labels?
     *
     * This is to help see breakpoints whilst developing the site.
     *
     */
/**
 * Responsive design labels
 *
 * This is to help see breakpoints whilst developing the site.
 *
 */
/**
 * Set label appearance
 */
body:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: "Responsive breakpoint label";
  width: 90%;
  padding: 10px 5%;
  border-bottom: 1px solid #cccccc;
  background: rgba(255, 165, 0, 0.5);
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5);
}
/**
 * Apply labels to all major breakpoints
 */
@media (min-width:1199px) {
  body:before {
    content: "Large screen";
  }
}
@media (max-width:2000px) {
  body:before {
    content: "Standard layout";
  }
}
@media (max-width:1024px) {
  body:before {
    content: "Tablet layout";
  }
}
@media (max-width:600px) {
  body:before {
    content: "Mobile layout";
  }
}
/**
 * Typography
 */
/**
     * Set base text size
     */
/**
     * Set additional text sizes
     */
/**
     * Set font famillies
     */
/**
          * Define brand fonts
          */
/**
          * Define fonts by function
          */
/**
 * Colour swatches
 */
/**
     * Define brand colours
     */
/**
     * Generic colours
     */
/**
     * Utility colours
     */
/**
     * Define colours by function
     */
/**
 * Mixins
 *
 * Define predefined mixins, and custom mixins (optional) that can be
 * set on a per-project basis
 *
 */
/**
 * Predefined mixins
 *
 * A set of LESS mixins to make common css tasks that little bit easier
 *
 */
/**
* Change box model
*
* Set the box model for a block-level element
*
* @param sizing: [border-box|content-box]
*
*/
/**
 * Clearfix
 *
 * @src http://css-tricks.com/snippets/css/clear-fix
 * IE6 part not included, as we've dropped IE6 support
 */
/**
 * Make an element square
 *
 * Automagically set the same width/height for a block-level element
 *
 * @param size: size in chosen unit
 */
/**
 * Set width and height
 *
 * Automagically set the width/height for a block-level element
 *
 * @param width: width in chosen unit
 * @param height: height in chosen unit
 */
/**
 * Evenly distribute items
 *
 * Automagically set items evenly in a line
 *
 * @param item-number: number of items to distribute
 */
/**
 * Set background size
 *
 * Set the background-size for an element, as FF3.6 still needs -moz- prefix
 *
 * @param size: width in chosen unit, height in chosen unit
 */
/**
 * Set border-radius
 *
 * Set the border radius for a block-level element
 *
 * @param radius: radius in chosen unit
 */
/**
 * Set transforms
 *
 * Rotate, scale, translate or set transform origin a block-level element
 *
 */
#transform {
  /**
         * Rotate an element
         * @angle [value] deg
         */

  /**
         * Skew an element
         * @transx [value] deg
         * @transy [value] deg
         */

  /**
         * Scale an element
         * @transx [value]
         * @transy [value]
         */

  /**
         * Translate an element
         * @transx [value]
         * @transy [value]
         */

  /**
         * Change the transform origin for an element
         * @value if string: top/bottom left/right
         * @value if num: horizontal (px/%/em) vertical (px/%/em)
         */

}
/**
 * Set transition
 *
 * Set a CSS3 transition on a block-level element
 *
 */
/**
 * Set animation
 *
 * Tie a block-level element to a predefined @animate animation
 */
/**
 * Set opacity
 *
 * Set the opacity of an element
 */
/**
 * Set columns
 *
 * Flow content into columns
 */
/**
 * CSS triangles
 *
 * Make pure CSS triangles
 * Useful for pointers and tooltips
 */
/**
 * Set gradient
 *
 * Set a gradient on an element
 */
/**
 * Custom mixins
 *
 * Mixins that can be set on a per-project basis
 */
/**
 * Example: Grid background
 */
/**
 * Establish any resource using an @rule
 *
 * Set rules for any CSS resource requiring an @ prefix,
 * such as @animate rules or @font-face fonts
 *
 */
/**
 * Webfonts
 */
/**
 * Reference webfonts with an @font-face rule
 */
/**
 * Sample: Capriola 400
 *
 * @src http://www.google.com/webfonts
 */
/**
 * Set styles for screen
 */
@media screen {
  {
    /**
       * Create a clean slate
       *
       * Ensure we level any browser differences, so we can build any
       * subsequent declarations on level ground
       *
       */
  
    /**
   * normalize.css 2012-07-07T09:50 UTC
   *
   * @src http://github.com/necolas/normalize.css
   *
   * All unneeded components, and ones addressing presentation that are
   * handled elsewhere have been stripped out.
   */
  
    /**
   * HTML5 display definitions
   *
   */
  
    /**
      * Corrects `block` display not defined in IE6/7/8/9 & FF3.
      */
  
    /**
       * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
       */
  
    /**
       * Prevents modern browsers from displaying `audio` without controls.
       * Remove excess height in iOS5 devices.
       */
  
    /**
       * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
       *
       * known issue:no IE6 support.
       */
  
    /**
       * Remove list-style and margin on nav
       *
       * Added by the Hatchd team
       *
       */
  
    /**
   * Base
   *
   */
  
    /**
       * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using `em` units.
       * 2. Prevents text resizing in webkit mobile (added by Hatchd team)
       */
  
    /**
       * Improves readability when focused and also mouse hovered in all browsers.
       *
       * @src people.opera.com/patrickl/experiments/keyboard/test
       *
       */
  
    /**
   * Forms
   *
   */
  
    /**
       * Define consistent border, margin, and padding.
       */
  
    /**
       * 1. Corrects color not being inherited in IE6/7/8/9.
       * 2. Corrects text not wrapping in FF3.
       * 3. Corrects alignment displayed oddly in IE6/7.
       */
  
    /**
       * 1. Corrects font size not being inherited in all browsers.
       * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
       * 3. Improves appearance and consistency in all browsers.
       */
  
    /**
       * Addresses FF3/4 setting `line-height` on `input` using
       * `!important` in the UA stylesheet.
       */
  
    /**
       * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
       * 2. Corrects inability to style clickable `input` types in iOS.
       * 3. Improves usability and consistency of cursor style between image-type `input` and others.
       * 4. Removes inner spacing in IE7 without affecting normal text inputs.
       * Known issue:inner spacing remains in IE6.
      */
  
    /**
       * Re-set default cursor for disabled elements.
       */
  
    /**
       * 1. Addresses box sizing set to content-box in IE8/9.
       * 2. Removes excess padding in IE8/9.
       * 3. Removes excess padding in IE7.
       * Known issue:excess padding remains in IE6.
      */
  
    /**
       * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
       * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz` to future-proof).
      */
  
    /**
       * Removes inner padding and search cancel button in S5, Chrome on OS X.
       */
  
    /**
       * Removes inner padding and border in FF3+.
       */
  
    /**
       * 1. Removes default vertical scrollbar in IE6/7/8/9.
       * 2. Improves readability and alignment in all browsers.
       */
  
    /**
   * Tables
   *
   */
  
    /**
       * Remove most spacing between table cells.
       */
  
    /**
       * Set base rules that can apply site-wide
       *
       * These should apply to naked elements, no classes should be defined here
       *
       */
  
    /**
   * Base type styles
   */
  
    /**
   * Set base font size/line-height and declare the px size of an em unit
   */
  
    /**
   * Headings
   */
  
    /**
       * Headings within an hgroup
       */
  
    /**
   * Block elements
   */
  
    /**
   * Quotes
   */
  
    /**
       * Blockquotes
       */
  
    /**
       * Inline quotes
       */
  
    /**
   * Lists
   */
  
    /**
       * Globals
       */
  
    /**
       * Unordered lists
       */
  
    /**
       * Ordered lists
       */
  
    /**
       * Definiton lists
       */
  
    /**
   * Inline elements
   */
  
    /**
       * Superscript/subscript
       */
  
    /**
       * For marking up content relevency/edits and highlighting content
       */
  
    /**
       * Small print
       */
  
    /**
       * Phrase tags
       */
  
    /**
   * Code formatting
   *
   */
  
    /**
  * Preformatted text
  */
  
    /**
  * Code, samp, kbd
  */
  
    /**
  * Var
  */
  
    /**
   * Base link and text selection styles
   */
  
    /**
   * Link styles
   */
  
    /**
   * Text selection styles
   */
  
    /**
   * Form elements
   *
   * Basic styles for forms.
   * All laid out form fields should be set within an unordered list.
   */
  
    /**
   * Set global constants
   */
  
    /**
       * Set styles for full forms
       *
       * sets of inputs/labels should always be encased in
       * an ordered list for example
       */
  
    /**
   * Base image styles
   */
  
    /**
   * Image on its own
   */
  
    /**
   * Image within a figure tag
   *
   * Used when the image is supporting some related copy
   */
  
    /**
   * Base table styles
   */
  
    /**
       * Define display fixes
       *
       * non-presentational classes, used to achieve functional things like
       * clearing floats, visually hiding elements etc...
       *
       */
  
    /**
   * Display fixes
   */
  
    /**
   * Hide a text element but ensure it is still readable via assistive technology
   * @src http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
   */
  
    /**
   * Completely hide an element
   */
  
    /**
   * Set an element to clear the element above it
   */
  
    /**
   * Clearfix
   *
   * @src http://css-tricks.com/snippets/css/clear-fix
   * IE6 part not included, as we've dropped IE6 support
   * Note: This is also available as a mixin ( .clearfix; )
   */
  
    /**
        * IE7
        */
  
    /**
   * Set text to be replaced by an image
   */
  
    /**
       * Define modular components
       *
       * Reusable components, called with a class (or classes)
       * that can exist anywhere in the site
       *
       */
  
    /**
  *An example component
  *(Add what the component does here)
  *
  *
  *If the component has a singular name (like "post") subclasses should be prefixed with the whole name.
  *If it has a multi-word name, subclasses shoudl be prefixed with an abbreviation of that name
  */
  
    /**
   * Universally applicable rules
   */
  
    /**
   * Style changes, based on environment
   */
  
    /**
       * Media queries
       */
  
    /**
       * Modernizr hooks
       */
  
    /**
       * IE overrides
       */
  
    /**
       * Set master layout
       *
       * The scaffolding of the site, defined through elements that occur only
       * once per page, defined via an aria role or ID
       *
       */
  
    /**
   * Master layout
   *
   * The scaffolding of the site, defined through elements that occur only
   * once per page, defined via an aria role or ID
   */
  
    /**
   * Outer areas
   */
  
    /**
       * Set unique template layout(s)
       *
       * Overrides to master layout or new rules, unique to a specific
       * template or set of templates. These definitions should be set
       * from a unique HTML or body class
       *
       */
  
    /**
       * Set vendor-specific rules
       *
       * Adjust or scale-back site elements, depending on a specific browser,
       * or a CSS property that may not be supported by every browser
       * There will be extended by LESS rules inside individial components.
       *
       */
  
    /**
           * IE8 and below
           */
  
    /**
           * IE7 and below
           */
  
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  [hidden] {
    display: none;
  }
  nav ul,
  nav ol {
    margin: 0;
    list-style: none;
  }
  nav li {
    margin: 0;
  }
  html {
    font-size: 100%;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
  }
  button,
  input,
  select,
  textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
  }
  button,
  input {
    line-height: normal;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
  }
  button[disabled],
  input[disabled] {
    cursor: default;
  }
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: auto;
    vertical-align: top;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  body {
    font-size: 100%;
    line-height: 1.5em;
    font-family: sans-serif;
    color: #000000;
  }
  p,
  li,
  dt,
  dd {
    font-size: 1em;
    line-height: 1.5em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2em;
    font-weight: normal;
    margin: 1em 0 0.5em 0;
    position: relative;
    clear: both;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
    font-weight: bold;
  }
  h4,
  h5,
  h6 {
    font-size: 1em;
  }
  hgroup {
    position: relative;
    margin: 0 0 1em 0;
  }
  hgroup h1,
  hgroup h2,
  hgroup h3 {
    margin: 0;
  }
  p {
    margin: 0 0 1em 0;
  }
  hr {
    height: 0;
    margin: 0 0 1em 0;
    padding: 0;
    border: none;
    border-top: 1px solid #cccccc;
  }
  blockquote {
    margin: 0 0 1em 3em;
  }
  blockquote > p {
    font-size: 1.4em;
    margin-bottom: 0.60em;
  }
  blockquote > p:first-child:before {
    content: '\201C';
  }
  blockquote > p:first-child:after {
    content: '\201D';
  }
  blockquote footer p {
    margin: -0.5em 0 0 0;
    font-size: 0.85em;
    font-style: italic;
  }
  blockquote footer p:before {
    content: "- ";
  }
  q {
    font-style: italic;
    color: inherit;
  }
  cite {
    font-style: italic;
  }
  ul,
  ol,
  dl {
    margin: 0 0 1em 2em;
    padding: 0;
  }
  li {
    margin: 0 0 0.25em 0;
  }
  ul {
    list-style: disc outside;
  }
  ul ul {
    margin: 0.25em 0 0.5em 1em;
  }
  ol {
    list-style: decimal outside;
  }
  ol ol {
    margin: 0.25em 0 0.5em 1.5em;
    list-style-type: lower-roman;
  }
  dl {
    margin-left: 0;
  }
  dt {
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding: 1em 0 0 0;
  }
  dd {
    margin: 0 0 0.5em 0;
  }
  sup,
  sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  ins {
    background-color: #fffb88;
  }
  del {
    text-decoration: line-through;
  }
  s {
    color: #cccccc;
    text-decoration: line-through;
  }
  mark {
    background-color: #fffb88;
    color: inherit;
    font-weight: normal;
  }
  small {
    font-weight: normal;
    font-style: normal;
  }
  strong,
  b {
    font-weight: bold;
  }
  em,
  i {
    font-style: italic;
  }
  dfn,
  abbr {
    font-style: inherit;
    position: relative;
  }
  pre {
    white-space: pre;
    width: 100%;
    overflow: auto;
    margin: 0 0 1em 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  code,
  samp,
  kbd {
    display: inline-block;
    padding: 0 0.5em;
  }
  var {
    font-style: italic;
    font-weight: bold;
  }
  a,
  a:link,
  a:visited {
    color: #ef4136;
    text-decoration: underline;
  }
  a:hover {
    color: #ef4136;
  }
  a:active {
    color: #ef4136;
    text-decoration: underline;
  }
  a[href^="tel"] {
    color: inherit;
  }
  ::selection {
    color: #ffffff;
    background: #ef4136;
  }
  ::-moz-selection {
    color: #ffffff;
    background: #ef4136;
  }
  form {
    position: relative;
    margin: 0 0 1em 0;
  }
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  legend {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 1;
  }
  label {
    display: inline-block;
    margin: 0 0 0.25em 0;
  }
  input,
  textarea,
  select {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    color: #000000;
  }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    width: auto;
    float: left;
    border: none;
    margin: 0.25em 0.5em 0 0;
  }
  input[type="file"] {
    padding: 0;
    border: none;
  }
  textarea {
    min-height: 200px;
  }
  button {
    padding: 0.5em;
    cursor: pointer;
  }
  form ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  form li {
    position: relative;
    margin: 0;
  }
  form li input,
  form li select,
  form li textarea {
    margin-bottom: 1.5em;
  }
  form li input[type="checkbox"],
  form li input[type="radio"] {
    margin-bottom: 0.5em;
  }
  form .buttons {
    padding-top: 1.5em;
  }
  img {
    display: block;
    width: auto;
    border: 0;
    margin: 0 0 1em 0;
  }
  img:not[src*="maps.gstatic.com"] {
    max-width: 100%;
  }
  figure {
    display: inline-block;
    margin: 0 0 1em 0;
  }
  figure img {
    margin-bottom: 0;
  }
  figcaption {
    margin-top: 0.25em;
    font-style: italic;
  }
  table {
    width: 100%;
    margin: 0 0 1em 0;
    border: 1px solid #000000;
  }
  table,
  th,
  td {
    border-collapse: collapse;
  }
  th,
  td {
    padding: 0.5em;
    border: 1px dotted #000000;
    border-top: none;
    border-right: none;
    text-align: left;
  }
  thead th {
    border-bottom: 2px solid #000000;
  }
  tfoot td {
    border-bottom: none;
    font-size: 0.85em;
    font-style: italic;
  }
  .visual-hide {
    position: absolute;
    text-indent: -90000px;
    white-space: nowrap;
    overflow: hidden;
  }
  .hide,
  .state-hide {
    display: none;
  }
  .clear {
    clear: both;
    display: block;
  }
  .clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    content: " ";
    height: 0;
    font-size: 0;
  }
  *:first-child + html .clearfix {
    zoom: 1;
  }
  .replaced {
    display: block;
    text-indent: -900000px;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top left;
  }
  .no-cssgradients .post {
    background: yellow;
  }
  .lt-ie8 .post {
    background: purple;
  }
  body {
    margin: 0;
  }
}
@media screen and (max-width:1024px) {
  .post {
    background: red;
  }
}
@media screen and (max-width:600px) {
  .post {
    background: green;
  }
}
/**
 *
 * Set styles for print
 *
 * When any page from the site is printed, set rules to ensure only
 * the useful bits are included, and that units  of measurement are transposed
 * from pixels to physical ones - like mm, and points
 *
 */
@media print {
  /**
       * Create a clean slate
       *
       * Ensure we level any browser differences, so we can build any
       * subsequent declarations on level ground
       *
       */
  /**
   * normalize.css 2012-07-07T09:50 UTC
   *
   * @src http://github.com/necolas/normalize.css
   *
   * All unneeded components, and ones addressing presentation that are
   * handled elsewhere have been stripped out.
   */
  /**
   * HTML5 display definitions
   *
   */
  /**
      * Corrects `block` display not defined in IE6/7/8/9 & FF3.
      */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  nav,
  section,
  summary {
    display: block;
  }
  /**
       * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
       */
  audio,
  canvas,
  video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  /**
       * Prevents modern browsers from displaying `audio` without controls.
       * Remove excess height in iOS5 devices.
       */
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  /**
       * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
       *
       * known issue:no IE6 support.
       */
  [hidden] {
    display: none;
  }
  /**
       * Remove list-style and margin on nav
       *
       * Added by the Hatchd team
       *
       */
  nav ul,
  nav ol {
    margin: 0;
    list-style: none;
  }
  nav li {
    margin: 0;
  }
  /**
   * Base
   *
   */
  /**
       * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using `em` units.
       * 2. Prevents text resizing in webkit mobile (added by Hatchd team)
       */
  html {
    font-size: 100%;
  }
  /**
       * Improves readability when focused and also mouse hovered in all browsers.
       *
       * @src people.opera.com/patrickl/experiments/keyboard/test
       *
       */
  a:active,
  a:hover {
    outline: 0;
  }
  /**
   * Forms
   *
   */
  /**
       * Define consistent border, margin, and padding.
       */
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  /**
       * 1. Corrects color not being inherited in IE6/7/8/9.
       * 2. Corrects text not wrapping in FF3.
       * 3. Corrects alignment displayed oddly in IE6/7.
       */
  legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
  }
  /**
       * 1. Corrects font size not being inherited in all browsers.
       * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
       * 3. Improves appearance and consistency in all browsers.
       */
  button,
  input,
  select,
  textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
  }
  /**
       * Addresses FF3/4 setting `line-height` on `input` using
       * `!important` in the UA stylesheet.
       */
  button,
  input {
    line-height: normal;
  }
  /**
       * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
       * 2. Corrects inability to style clickable `input` types in iOS.
       * 3. Improves usability and consistency of cursor style between image-type `input` and others.
       * 4. Removes inner spacing in IE7 without affecting normal text inputs.
       * Known issue:inner spacing remains in IE6.
      */
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
  }
  /**
       * Re-set default cursor for disabled elements.
       */
  button[disabled],
  input[disabled] {
    cursor: default;
  }
  /**
       * 1. Addresses box sizing set to content-box in IE8/9.
       * 2. Removes excess padding in IE8/9.
       * 3. Removes excess padding in IE7.
       * Known issue:excess padding remains in IE6.
      */
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
  }
  /**
       * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
       * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz` to future-proof).
      */
  input[type="search"] {
    -webkit-appearance: textfield;
  }
  /**
       * Removes inner padding and search cancel button in S5, Chrome on OS X.
       */
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  /**
       * Removes inner padding and border in FF3+.
       */
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  /**
       * 1. Removes default vertical scrollbar in IE6/7/8/9.
       * 2. Improves readability and alignment in all browsers.
       */
  textarea {
    overflow: auto;
    vertical-align: top;
  }
  /**
   * Tables
   *
   */
  /**
       * Remove most spacing between table cells.
       */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /**
       * Set base rules that can apply site-wide
       *
       * These should apply to naked elements, no classes should be defined here
       *
       */
  /**
   * Base type styles
   */
  /**
   * Set base font size/line-height and declare the px size of an em unit
   */
  body {
    font-size: 100%;
    line-height: 1.5em;
    font-family: sans-serif;
    color: #000000;
  }
  p,
  li,
  dt,
  dd {
    font-size: 1em;
    line-height: 1.5em;
  }
  /**
   * Headings
   */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2em;
    font-weight: normal;
    margin: 1em 0 0.5em 0;
    position: relative;
    clear: both;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
    font-weight: bold;
  }
  h4,
  h5,
  h6 {
    font-size: 1em;
  }
  /**
       * Headings within an hgroup
       */
  hgroup {
    position: relative;
    margin: 0 0 1em 0;
  }
  hgroup h1,
  hgroup h2,
  hgroup h3 {
    margin: 0;
  }
  /**
   * Block elements
   */
  p {
    margin: 0 0 1em 0;
  }
  hr {
    height: 0;
    margin: 0 0 1em 0;
    padding: 0;
    border: none;
    border-top: 1px solid #cccccc;
  }
  /**
   * Quotes
   */
  /**
       * Blockquotes
       */
  blockquote {
    margin: 0 0 1em 3em;
  }
  blockquote > p {
    font-size: 1.4em;
    margin-bottom: 0.60em;
  }
  blockquote > p:first-child:before {
    content: '\201C';
  }
  blockquote > p:first-child:after {
    content: '\201D';
  }
  blockquote footer p {
    margin: -0.5em 0 0 0;
    font-size: 0.85em;
    font-style: italic;
  }
  blockquote footer p:before {
    content: "- ";
  }
  /**
       * Inline quotes
       */
  q {
    font-style: italic;
    color: inherit;
  }
  cite {
    font-style: italic;
  }
  /**
   * Lists
   */
  /**
       * Globals
       */
  ul,
  ol,
  dl {
    margin: 0 0 1em 2em;
    padding: 0;
  }
  li {
    margin: 0 0 0.25em 0;
  }
  /**
       * Unordered lists
       */
  ul {
    list-style: disc outside;
  }
  ul ul {
    margin: 0.25em 0 0.5em 1em;
  }
  /**
       * Ordered lists
       */
  ol {
    list-style: decimal outside;
  }
  ol ol {
    margin: 0.25em 0 0.5em 1.5em;
    list-style-type: lower-roman;
  }
  /**
       * Definiton lists
       */
  dl {
    margin-left: 0;
  }
  dt {
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding: 1em 0 0 0;
  }
  dd {
    margin: 0 0 0.5em 0;
  }
  /**
   * Inline elements
   */
  /**
       * Superscript/subscript
       */
  sup,
  sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  /**
       * For marking up content relevency/edits and highlighting content
       */
  ins {
    background-color: #fffb88;
  }
  del {
    text-decoration: line-through;
  }
  s {
    color: #cccccc;
    text-decoration: line-through;
  }
  mark {
    background-color: #fffb88;
    color: inherit;
    font-weight: normal;
  }
  /**
       * Small print
       */
  small {
    font-weight: normal;
    font-style: normal;
  }
  /**
       * Phrase tags
       */
  strong,
  b {
    font-weight: bold;
  }
  em,
  i {
    font-style: italic;
  }
  dfn,
  abbr {
    font-style: inherit;
    position: relative;
  }
  /**
   * Code formatting
   *
   */
  /**
  * Preformatted text
  */
  pre {
    white-space: pre;
    width: 100%;
    overflow: auto;
    margin: 0 0 1em 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  /**
  * Code, samp, kbd
  */
  code,
  samp,
  kbd {
    display: inline-block;
    padding: 0 0.5em;
  }
  /**
  * Var
  */
  var {
    font-style: italic;
    font-weight: bold;
  }
  /**
   * Base link and text selection styles
   */
  /**
   * Link styles
   */
  a,
  a:link,
  a:visited {
    color: #ef4136;
    text-decoration: underline;
  }
  a:hover {
    color: #ef4136;
  }
  a:active {
    color: #ef4136;
    text-decoration: underline;
  }
  a[href^="tel"] {
    color: inherit;
  }
  /**
   * Text selection styles
   */
  ::selection {
    color: #ffffff;
    background: #ef4136;
  }
  ::-moz-selection {
    color: #ffffff;
    background: #ef4136;
  }
  /**
   * Form elements
   *
   * Basic styles for forms.
   * All laid out form fields should be set within an unordered list.
   */
  /**
   * Set global constants
   */
  form {
    position: relative;
    margin: 0 0 1em 0;
  }
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  legend {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 1;
  }
  label {
    display: inline-block;
    margin: 0 0 0.25em 0;
  }
  input,
  textarea,
  select {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    color: #000000;
  }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    width: auto;
    float: left;
    border: none;
    margin: 0.25em 0.5em 0 0;
  }
  input[type="file"] {
    padding: 0;
    border: none;
  }
  textarea {
    min-height: 200px;
  }
  button {
    padding: 0.5em;
    cursor: pointer;
  }
  /**
       * Set styles for full forms
       *
       * sets of inputs/labels should always be encased in
       * an ordered list for example
       */
  form ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  form li {
    position: relative;
    margin: 0;
  }
  form li input,
  form li select,
  form li textarea {
    margin-bottom: 1.5em;
  }
  form li input[type="checkbox"],
  form li input[type="radio"] {
    margin-bottom: 0.5em;
  }
  form .buttons {
    padding-top: 1.5em;
  }
  /**
   * Base image styles
   */
  /**
   * Image on its own
   */
  img {
    display: block;
    width: auto;
    border: 0;
    margin: 0 0 1em 0;
  }
  img:not[src*="maps.gstatic.com"] {
    max-width: 100%;
  }
  /**
   * Image within a figure tag
   *
   * Used when the image is supporting some related copy
   */
  figure {
    display: inline-block;
    margin: 0 0 1em 0;
  }
  figure img {
    margin-bottom: 0;
  }
  figcaption {
    margin-top: 0.25em;
    font-style: italic;
  }
  /**
   * Base table styles
   */
  table {
    width: 100%;
    margin: 0 0 1em 0;
    border: 1px solid #000000;
  }
  table,
  th,
  td {
    border-collapse: collapse;
  }
  th,
  td {
    padding: 0.5em;
    border: 1px dotted #000000;
    border-top: none;
    border-right: none;
    text-align: left;
  }
  thead th {
    border-bottom: 2px solid #000000;
  }
  tfoot td {
    border-bottom: none;
    font-size: 0.85em;
    font-style: italic;
  }
}
