/**
* Example component name
* Example component description
*/
.post{
    padding: 30px;
    background: color(muted);
    &-title{
        font-size: 2em;
    }
    &-desc{
        font-size: 1em;
    }
}

