{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "jquery": true
    },
    //"extends": "eslint:recommended",
    "extends": "airbnb",
    "rules": {
        "indent": [
             2,
             4
        ],
        "strict": [2,"global"]
    }
}