# compiled files
*.css
*.css.map
*-min.js
*.min.js
static/build/*
static/fonts/eggbox/*
.sass-cache/
static/images/eggbox/*
static/src/sass/utils/_eggbox.scss

# Temporary annoying files from calling iconfont
static/fonts/*
dist

# npm and bower third party libs
# to be installed win package.json and bower.json
node_modules/
npm-debug.log
static/libs/*
backstop_data/bitmaps_reference
backstop_data/bitmaps_test
backstop_data/bitmaps_diff

# sassdocs
static/docs/

# editor files
.idea

# os files
.DS_Store
*.swp
*.ini~
sassdoc
