//======
	//Colour swatches
//======

//===
	//Brand colours
//===
	@br-hatchdred:#EF4136;

//===
	//Generic colours
//===
	@white:#fff;
	@black:#000;

//===
	//Utility colours
//===
	@col-base:#000;
	@col-recessive:#ccc;
	@col-highlight:#FFFB88;
	@col-link:@br-hatchdred;
	@col-link-hover:@br-hatchdred;

