/**
 * Breakpoint helper
 * A visual tool to help the developer see
 * when a breakpoint is triggered
 */

/// Define media query support
/// @type Variable
/// @alias mqsupport
$mqsupport:true;

/// Import dependancies
@import 'config/settings';
@import 'mixins/breakpoint';

$bpguide:(
    bg:#fff,
    text:#333,
    label:#EF4034
);

// Custom function to process a
// breakpoint expecially for the map
@function processforguide($point, $map:$breakpoints){
  $point: map-get($map,$point);
  $querystr: '';
  @each $name, $value in $point{
    @if $name != nomq{
      $querystr: $querystr + $name + ': ' + $value;
    }
  }
  @return $querystr;
}

.breakpointguide{
    position: fixed;
    bottom: 0;
    right: 0;
    overflow:hidden;
    background:map-get($bpguide,bg);
    color:map-get($bpguide,text);
    font:normal normal 12px/1.5em sans-serif;
    &-label,
    &-value{
        display: block;
        padding: .5em 1em;
    }
    &-label{
        background:map-get($bpguide,label);
        text-shadow: 0 1px 0 fade-out(black,.8);
        color:white;
        text-transform: uppercase;
    }
    &-value{
        font-weight: bold;
    }
    $counter: 0;
    @each $key,$value in $breakpoints{
        $counter: $counter + 1;
        @include breakpoint($key){
            &-label{
                background:adjust-hue(map-get($bpguide,label), 0deg + (50 *$counter) );
                &:before{
                    content:'#{$key}';
                }
            }
            &-value{
                &:before{
                    content:'#{processforguide($key)}';
                }
            }
        }
    }
}
