/**
 * Global settings
 *
 * Use this file to set custom colours, and to set
 * the base text size / line height value
 * More settings can be added here, the sky is the limit!
 */

@import 'mixins/settings-mixins';

/**
 * Grid
 *
 * $raw width:     target container width (px);
 * $total-columns: number of grid columns;
 * $gutter:        column gutter (px);
 */
    $raw-width:1000;
    $total-columns:12;
    $raw-gutter:20;

/**
 * Responsive breakpoints
 */
    /**
     * Define which breakpoint(s) will be
     * the default for IE8 and below
     */
        $static-breakpoints:
            desktop,
            tablet,
            mobile
        ;

    /**
     * Define breakpoints
     * @usage: name: horz(min,max) vert(min,max);
     */
        $breakpoints:(
            desktop:(1025,false) (),
            tablet:(false,1024) (),
            mobile:(false,600) ()
        );

/**
 * Eggbox:
 * Fallback settings
 */
    $eggbox-size:"16x16";
    $eggbox-imagepath:"../images/eggbox";
    //Colours
    $eggbox-col--default:"000000";
    $eggbox-col--white:"ffffff";

/**
 * Font sizes
 * @usage: fontsize($size);
 */
    $fontsize-base:16;
    $font-sizes: (
        jumbo: 3em,
        large: 2em,
        emphasized: 1.5em,
        default: 1em,
        small: 75em
    );


/**
 * Font famillies
 * @usage: fontfamily($family)
 */
    $sans:sans-serif;
    $serif:serif;
    $monospace:"Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;

    $font-famillies: (
        default: $sans,
        pageheading: $sans,
        smallprint: $sans
    );

/**
 * Colours
 * @usage: color($color);
 */
    $white:#fff;
    $black:#000;
    $yellow:#FFFB88;
    $red:#aa3025;

    $colors: (
        default: $black,
        black: $black,
        white: $white,
        muted: lighten($black,50%),
        highlight:$yellow,
        link:$red,
        linkactive:lighten($red,10%)
    );
