/**
 * Global settings
 *
 * Use this file to set custom colours, and to set
 * the base text size / line height value
 * More settings can be added here, the sky is the limit!
 */

/**
 * Grid
 *
 * $raw width:     target container width (px);
 * $total-columns: number of grid columns;
 * $gutter:        column gutter (px);
 */
    $raw-width:1000;
    $total-columns:12;
    $raw-gutter:20;

/**
 * Responsive breakpoints
 */
    @mixin breakpoint($point){
        @if $point == standard{
            @media ( max-width:calcbreakpoint(2000) ){ @content; }
        }
        @else if $point == tablet{
            @media ( max-width:calcbreakpoint(1024) ){ @content; }
        }
        @else if $point == mobile{
            @media ( max-width:calcbreakpoint(600) ){ @content; }
        }
        @else if $point == retina{
            @media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi){ @content; }
        }
    }
    @function calcbreakpoint($target){
        @return ($target / 16)#{'em'};
    }

/**
 * Eggbox
 */
    /**
     * Fallback settings
     */
        $eggbox-size:"16x16";
        $eggbox-imagepath:"../images/eggbox";
        //Colours
        $eggbox-col--default:"000000";
        $eggbox-col--white:"ffffff";


/**
 * Font sizes
 */

    /**
     * Project font sizes
     */
        $fontsize-base:16;
        $font-sizes: (
            jumbo: 3em,
            large: 2em,
            emphasized: 1.5em,
            default: 1em,
            small: 75em
        );

    /**
     * Usage
     */
        @function fontsize($size){
            @return map-get($font-sizes,$size);
        }

/**
 *  Font famillies
 */

    /**
     * Project font famillies
     */
        $sans:sans-serif;
        $serif:serif;
        $monospace:"Courier New", Courier, "Lucida Sans Typewriter",
        "Lucida Typewriter", monospace;

    /**
     * Usage
     */
        $font-famillies: (
            default: $sans,
            pageheading: $sans,
            smallprint: $sans
        );
        @function fontfamily($family){
            @return map-get($font-famillies,$family);
        }

/**
 * Colours
 */

    /**
     * Project colours
     */
        $white:#fff;
        $black:#000;
        $yellow:#FFFB88;
        $red:#aa3025;

    /**
     * Color Usage
     */
        $colors: (
            default: $black,
            black: $black,
            white: $white,
            muted: lighten($black,50%),
            highlight:$yellow,
            link:$red,
            linkactive:lighten($red,10%)
        );
        @function color($color){
            @return map-get($colors,$color);
        }
