/*
 *  Empty-coop:
 *  A front-end starting point from the team at Hatchd
 *
 *  @Author Hatchd Digital
 *
 *  ...HHH...........................................HH ................DDD....
 *  ...HHH.......................TT .................HH.................DDD....
 *  ...HHH.......................TT..................HH.................DDD....
 *  ...HHHHHHHH..... AAAAAA......TTTTTT....CCCCCC....HHHHHHHN..... DDDDDDDD....
 *  ...HHHHHHHHH ...AAAAAAAAA....TTTTTT...CCCCCCCC...HHHHHHHHH... DDDDDDDDD....
 *  ...HHH... HH..........AAA....TTT..... CCC........HH....HHH....DD....DDD....
 *  ...HHH... HH.....AAAAAAAA....TTT......CC.........HH....HHH...DDD....DDD....
 *  ...HHH... HH....AAA...AAA....TTT......CC ........HH....HHH...DDD....DDD....
 *  ...HHH... HH....AAA...AAA....TTT..... CCC........HH....HHH....DD....DDD....
 *  ...HHH... HH....AAA..AAAA....TTT..... CCCC..CC...HH....HHH....DDD..DDDD....
 *  ...HHH... HH.....AAAAAAAA....TTTTTT....CCCCCCC...HH....HHH.... DDDDDDD.....
 *
 */

/// Define media query support
/// @group media queries
/// @type Variable
/// @alias mqsupport
$mqsupport: false;

/// Define rem support
/// @type Variable
$remsupport: false;

/// Import all site files
@import '_manifest';

/// Import ie8-specific fixes
@import '_ie8-fixes';
