/**
* Example component name
*
* Example component description
*/

/**
 * Init
 *
 * Define variables, helper mixins and animations
 * local to this component
 */
    // $sample-var: foo;
    // @mixin sample-mixin($args:default){}
    // @keyframes sample{}

/**
 * Component classes
 */
.post{
    padding:30px;
    background:color(muted);
    @include eggbox(view);
    &-title{
        font-size:2em;
    }
    &-desc{
        font-size:1em;
    }

    /**
     * Modernizr hooks
     */
        // .no-flexbox &{}

    /**
     * Media queries
     */
        @include breakpoint(mobile){
            background-color:color(highlight);
        }
        @include breakpoint(tablet){
            background-color:color(default);
        }

    /**
     * IE overrides
     */
        //.lt-ie9 &{}
        //.lt-ie8 &{}
}

