/**
* Component name
*
* Component description
*/

/**
 * Init
 *
 * Define variables, helper mixins and animations
 * local to this component
 */
    // $sample-var: foo;
    // @mixin sample-mixin($args:default){}
    // @keyframes sample{}

/**
 * Component classes
 */
.post{
    $mod:'.post';
    padding:30px;
    background:color(muted);
    @include eggbox(view);
    @at-root{
        #{$mod}-title{
            font-size:2em;
        }
        #{$mod}-image{
            border:1px solid color(muted);
        }
    }

    /**
     * Modernizr hooks
     */
        // .no-flexbox &{}

    /**
     * Media queries
     */
        @include breakpoint(mobile){
            background-color:color(highlight);
        }
        @include breakpoint(tablet){
            background-color:color(default);
        }

    /**
     * IE overrides
     */
        //.lt-ie9 &{}
        //.lt-ie8 &{}
}

