/**
 * Predefined mixins
 *
 * A set of LESS mixins to make common css tasks that little bit easier
 *
 */

/**
 * Make an element square
 * Automagically set the same width/height for a block-level element
 *
 * @param size: size in chosen unit
 */
    .setsquare(@size) {
        width:@size;
        height:@size;
    }

/**
 * Set width and height
 * Automagically set the width/height for a block-level element
 *
 * @param width: width in chosen unit
 * @param height: height in chosen unit
 */
    .setsize(@width,@height) {
        width:@width;
        height:@height;
    }

/**
 * Evenly distribute items
 * Automagically set items evenly in a line
 *
 * @param item-number: number of items to distribute
 */
    .distribute-items(@item-number){
        width:unit( (100/@item-number),~'%' );
    }

/**
 * CSS triangles
 * Make pure CSS triangles
 * Useful for pointers and tooltips
 */

    #triangle{
        .top(@width:5px,@color:#000){
            content:" ";
            display:block;
            width:0;
            height:0;
            border:@width solid @color;
            border-top-color:transparent;
            border-right-color:transparent;
            border-left-color:transparent;
        }
        .right(@width:5px,@color:#000){
            content:" ";
            display:block;
            width:0;
            height:0;
            border:@width solid @color;
            border-top-color:transparent;
            border-right-color:transparent;
            border-bottom-color:transparent;
        }
        .bottom(@width:5px,@color:#000){
            content:" ";
            display:block;
            width:0;
            height:0;
            border:@width solid @color;
            border-bottom-color:transparent;
            border-right-color:transparent;
            border-left-color:transparent;
        }
        .left(@width:5px,@color:#000){
            content:" ";
            display:block;
            width:0;
            height:0;
            border:@width solid @color;
            border-top-color:transparent;
            border-left-color:transparent;
            border-bottom-color:transparent;
        }
        .top-right(@width:5px,@color:#000){
            content:" ";
            display:block;
            width:0;
            height:0;
            border:(@width/2) solid @color;
            border-bottom-color:transparent;
            border-left-color:transparent;
        }
        .top-left(@width:5px,@color:#000){
            content:" ";
            display:block;
            width:0;
            height:0;
            border:(@width/2) solid @color;
            border-bottom-color:transparent;
            border-right-color:transparent;
        }
        .bottom-right(@width:5px,@color:#000){
            content:" ";
            display:block;
            width:0;
            height:0;
            border:@width/2 solid @color;
            border-top-color:transparent;
            border-left-color:transparent;
        }
        .bottom-left(@width:5px,@color:#000){
            content:" ";
            display:block;
            width:0;
            height:0;
            border:(@width/2) solid @color;
            border-top-color:transparent;
            border-right-color:transparent;
        }
    }

/**
 * Style placeholder text
 */
    .placeholder(@color:#fff;){
        &::-webkit-input-placeholder {
           color:@color;
        }
        &:-moz-placeholder {
           color:@color;
        }
        &::-moz-placeholder {
           color:@color;
        }
        &:-ms-input-placeholder {
           color:@color;
        }
    }
