//======
	//Links
//======

//===
	//Anchor link styles
//===
	a,
	a:link,
	a:visited{
		color:inherit;
		text-decoration:underline;
	}
	a:hover{
	    color:inherit;
	}
	a:active{
	    color:inherit;
	    text-decoration:underline;
	}

//===
	//Text selection styles
//===
	::selection{
		color:@white;
		background:@col-link;
	}
	::-moz-selection{
		color:@white;
		background:@col-link;
	}