//======
//quotes
//======

	blockquote{
		margin:0 0 2em 0;
		padding:1em 0 0 0;

		p{
			padding:0 1em;
			font-size:1.6em;

			&:first-child:before,chr
			&:last-child:after{
				content:'"';
			}
		}

	}

		
		q{
			font-style:italic;
			color:inherit;
		}
		cite{font-style:italic;}