/**
 * Base link and text selection styles
 */

/**
 * Link styles
 */
	a,
	a:link,
	a:visited{
		color:@link;
		text-decoration:underline;
	}
	a:hover,
    a:active{
	    color:@link-active;
        text-decoration:none;
	}
    :focus{
        outline:none;
    }
    a[href^="tel"]{
        color:inherit;
    }
