////
//// Placeholders
//// @author Hatchd Digital
////


/// Good ol' clearfix, used on a parent
/// to clear floated child elements
/// @author CSS Tricks
/// @link http://css-tricks.com/snippets/css/clear-fix
%clearfix {
    &::after {
        display: block;
        height: 0;
        clear: both;
        font-size: 0;
        content: ' ';
        visibility: hidden;
    }
}

/// Hide a text element but ensure
/// it is still readable via assistive technology
%visual-hide {
    position: absolute;
    text-align: left;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/// Completely hide an element
%hide {
    display: none;
}

/// Set an element to clear the element above it
%clear {
    display: block;
    clear: both;
}

