// ==========================================================================
// Shame
// ==========================================================================

.thing {
    transform: translateX(20px);
    color: #000;
    display: none;
}
