/**
 * Code formatting
 *
 */

/**
* Preformatted text
*/
pre{
    box-sizing: border-box;
    overflow: auto;
	white-space: pre;
	width: 100%;
	margin: 0 0 1em 0;
}

/**
* Code, samp, kbd
*/
code,
samp,
kbd{
	display: inline-block;
	padding: 0 .5em;
}

/**
* Var
*/
var{
	font-style: italic;
	font-weight: bold;
}
