/**
 * Base link and text selection styles
 */

/**
 * Link styles
 */
a{
    color: color(link);
    text-decoration: underline;
    &:hover{
        color: color(linkactive);
        text-decoration: none;
    }
    &[href^="tel"]{
        color: inherit;
    }
}
:focus{
    outline: none;
}

/**
 * Selection styles
 */
@each $prefix in (
    '::',
    '::-webkit-',
    '::-moz-',
    '::-ms-')
{
    #{$prefix}selection{
        color: color(white);
        background: color(link);
    }
}


