/**
 * Base image styles
 */

/**
 * Image on its own
 */
    img{
        display:block;
        width:auto;
        border:0;
        margin:0 0 1em 0;
        /**
         * Prevent google maps ui elements from being resized
         */
        &:not[src*="maps.gstatic.com"]{
            max-width:100%;
        }
    }
/**
 * Image within a figure tag
 * Used when the image is supporting some related copy
 */
    figure{
    	display:block;
    	margin:0 0 1em 0;
        padding:0;
    	img{
    		margin-bottom:0;
    	}
    }
    	figcaption{
    		margin-top:0.5em;
    		font-style:italic;
    	}

