/**
 * Base link and text selection styles
 */

/**
 * Link styles
 */
    a{
        color:map-get($colors,link);
        text-decoration:underline;
        &:hover{
            color:map-get($colors,linkactive);
            text-decoration:none;
        }
        &[href^="tel"]{
            color:inherit;
        }
    }
    :focus{
        outline:none;
    }
