.mq-parser {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    background: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
    font-weight: bold;
    overflow: hidden;
    z-index: 999;

    &.mq-parser--debug {
        width: auto;
        height: auto;
    }

    * {
        display: none;
        width: 100%;
        padding: .5em 1em;
        border-bottom: 1px solid mix(#000, #fff, 80%);
    }

    $pointstring: '';
    @each $bp, $break in $breakpoints {
        // @debug $bp;
        .#{$bp} {
            @include breakpoint($bp) {
                display: block;
                @if($pointstring == '') {
                    $pointstring: $bp;
                } @else {
                    $pointstring: $pointstring + ',' + $bp;
                }
            }
        }
    }

    &::after {
        display: none;
        content: '#{$pointstring}';
    }

    &::before {
        display: block;
        padding: .5em 1em;
        background: mix(#000, #fff, 70%);
        content: 'Current Breakpoints';
    }
}
