// ==========================================================================
// Variables
// ==========================================================================

// Base color variables
// ==========================================================================
$white: #fff;
$black: #000;

// Colors map tying usage to variable names
// ==========================================================================
$colors: (
    default: $black,
    black: $black,
    white: $white,
);

// Base font family variables
// ==========================================================================
$sans: sans-serif;

// Font families map tying usage to variable names
// ==========================================================================
$font-families: (
    default: $sans,
);

// Font sizes map
// ==========================================================================
$font-sizes: (
    x-large: 3.157rem,
    large: 2.369rem,
    medium: 1.777rem,
    emphasized: 1.333rem,
    default: 1rem,
    small: .75rem
);