/**
* An example component
*
* Add what the component does here
*/


/**
 * Basic post
 */
    .post{
        background:@col-recessive;
    }
    	.post-heading{
            font-size:@fontsize-large;
    	}
    	.post-img{
            border:1px solid @col-base;
    	}
/**
 * Extend > Post with keyline
 */
    .post--keyline
    :extend(.post all){
        border-bottom:1px solid @col-base;
    }

/**
 * Media queries
 */
    @media @largescreen{}
    @media @standard{}
    @media @tablet{}
    @media @mobile{}
    @media print{}

/**
 * Modernizr hooks
 */
    .no-cssgradients{}

/**
 * IE overrides
 */
    .lt-ie9{}
    .lt-ie8{}

