/**
 * Responsive design labels
 *
 * This is to help see breakpoints whilst developing the site.
 */

/**
 * Set label appearance
 */
    body:before{
        display:inline-block;
        position:fixed;
        bottom:0;
        left:0;
        z-index:9999;
        content:"Responsive breakpoint label";
        padding:10px 20px;
        background:fade(@black,90%);
        color:@white;
        border-radius:0 5px 0 0;
        font-size:11px;
    }

/**
 * Apply labels to all major breakpoints
 */
    @media @largescreen{
        body:before{content:"Large screen";}
    }
    @media @standard{
        body:before{content:"Standard layout";}
    }
    @media @tablet{
        body:before{content:"Tablet layout";}
    }
    @media @mobile{
        body:before{content:"Mobile layout";}
    }


