// ==========================================================================
// Typography
// ==========================================================================

// @font-face rules
// ==========================================================================

// Global
// ==========================================================================
html {
    color: color(default);
    font-family: fontfamily(default);
    font-size: 1em;
    line-height: 1.4;
}

// Headings
// ==========================================================================

// Paragraphs, lists etc
// ==========================================================================

// Quotes
// ==========================================================================

// Links
// ==========================================================================

// Selection styles
// ==========================================================================
@each $prefix in (
'::',
'::-webkit-',
'::-moz-',
'::-ms-') {
    #{$prefix}selection {
        background: color(link);
        color: color(white);
    }
}
