// ==========================================================================
// Typography
// ==========================================================================

// @font-face rules
// ==========================================================================

// Global
// ==========================================================================
html {
    color: $color-default;
    font-family: $font-family-sans;
    font-size: $font-size-base; // Base font size must be $font-size-base and be in px for fluidfont mixin to work
    line-height: 1.6;
}

// Headings
// ==========================================================================
h1,
h2,
h3,
h4,
h5,
h6 {
    @include modtype(1.333, $font-size-small);
    margin: 1rem 0;
    line-height: 1.2;
}

// Links
// ==========================================================================
a {
    color: $color-link;

    &:hover {
        color: $color-link-hover;
    }
}