////
//// Placeholders
//// @author Hatchd Digital
////


/// Good ol' clearfix, used on a parent
/// to clear floated child elements
/// @author CSS Tricks
/// @link http://css-tricks.com/snippets/css/clear-fix
%clearfix{
    &:after{
        content:' ';
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        font-size: 0;
    }
}

/// Hide a text element but ensure
/// it is still readable via assistive technology
%visual-hide{
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    text-align: left;
}

/// Completely hide an element
%hide{
    display: none;
}

/// Set an element to clear the element above it
%clear{
    display: block;
    clear: both;
}
