/**
 * Code formatting
 *
 */


/**
* Preformatted text
*/

pre {
    width: 100%;
    margin: 0 0 1em;
    white-space: pre;
    overflow: auto;
    box-sizing: border-box;
}


/**
* Code, samp, kbd
*/

code,
samp,
kbd {
    display: inline-block;
    padding: 0 .5em;
}


/**
* Var
*/

var {
    font-style: italic;
    font-weight: bold;
}
