/**
 * Base image styles
 */

/**
 * Image on its own
 */
    img{
        display: block;
        width: auto;
        max-width: 100%;
        border: 0;
        margin: 0 0 1em 0;
        /**
         * Prevent google maps ui elements from being resized
         */
        &[src*="maps.gstatic.com"]{
            max-width: none;
        }
    }
/**
 * Image within a figure tag
 * Used when the image is supporting some related copy
 */
    figure{
    	display:block;
    	margin: 0 0 1em 0;
        padding: 0;
    	img{
    		margin-bottom: 0;
    	}
        @at-root{
        	figcaption{
        		margin-top: .5em;
        		font-style: italic;
        	}
        }
    }

