/**
 * svg styles
 */

.svg-spritesheet {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    overflow: hidden;
}

//test color svg coloring
[data-svg='facebook'] {
    * {
        fill: red;
        stroke: red;
    }
}

[data-svg='facebook-fill'] {
    * {
        fill: blue;
        stroke: blue;
    }
}

//test svg bg
.svg-background {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    background: url('../svgs/spritesheet.svg#arrow-full-up') no-repeat center;
}
