extend ../master

block variables
	-var title = "About";

block pagecontent
	p 
		| Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit 
		| aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis lorem ut libero 
		| malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed 
		| sit amet dui. Curabitur aliquet quam id dui posuere blandit. Curabitur arcu erat, 
		| accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, 
		| eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. 
		| Proin eget tortor risus. Praesent sapien massa, convallis a pellentesque 
		| nec, egestas non nisi.	
